body {
  font-family: fantasy;
  background: linear-gradient(#70e1f5,#ffd194);

}
.barney {
  float:left;
  text-align: center;
  border: 4px solid teal;
  border-bottom: 2px solid teal;

}
.perry {
  float: left;
  text-align: center;
  border: 4px solid teal;
  border-top: 2px solid teal;
}
.charmander {
  float: left;
  text-align: center;
  border: 4px solid teal;
  border-bottom: 2px solid teal;
}
.gollum {
  float: left;
  text-align: center;
  border: 4px solid teal;
  border-top: 2px solid teal;
}
.body {
  column-count: 2;
}
.exotic {
  text-align: center;
  font-size: 500%;
  text-decoration: underline;

}
p {
  text-align: center;
}
h1 {
  text-align: center;

}
